 <!-- Fact Start -->
 <div class="container-fluid fact bg-dark my-5 py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-users fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">100000</h2>
                <p class="text-white mb-0">Happy Customers</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-shopping-bag fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">100</h2>
                <p class="text-white mb-0">Top Brands</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-check fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">95</h2>
                <p class="text-white mb-0">Upto 95% Discount</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <i class="fa fa-rotate-left fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">7</h2>
                <p class="text-white mb-0">Days Refund Policy</p>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->