<div class="list-group">
    <a routerLink="/" class="list-group-item list-group-item-action active" aria-current="true"><i
            class="fa fa-home fs-4"></i><span class="float-end">Home</span></a>
    <a routerLink="/admin/maincategory" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-list fs-4"></i><span class="float-end">Maincategory</span></a>
    <a routerLink="/admin/subcategory" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-list fs-4"></i><span class="float-end">Subcategory</span></a>
    <a routerLink="/admin/brand" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-list fs-4"></i><span class="float-end">Brand</span></a>
    <a routerLink="/admin/product" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-list fs-4"></i><span class="float-end">Product</span></a>
    <a routerLink="/admin/testimonial" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-star fs-4"></i><span class="float-end">Testimonial</span></a>
    <a routerLink="/admin/user" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-users fs-4"></i><span class="float-end">Users</span></a>
    <a routerLink="/admin/newsletter" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-envelope fs-4"></i><span class="float-end">Newsletter</span></a>
    <a routerLink="/admin/contactus" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-phone fs-4"></i><span class="float-end">Contact Us</span></a>
    <a routerLink="/admin/checkout" class="list-group-item list-group-item-action " aria-current="true"><i
            class="fa fa-shopping-bag fs-4"></i><span class="float-end">Checkout</span></a>

</div>