<app-navbar></app-navbar>

<app-hero title="Admin - Home"></app-hero>

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <h5 class="bg-primary text-center p-2 text-light">Contact Us </h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>Active</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.subject}}</td>
                        <td>{{item.date |date:"medium" }}</td>
                        
                        <td [ngClass]="item.active?'text-success':'text-danger'" >{{item.active?"Yes":"No"}}</td>
                        <td><a [routerLink]="['/admin/contactus/show']" [queryParams]="{'id':item.id}"><i class="fa fa-eye"></i></a></td>
                        
                        <td><button *ngIf="!item.active" class="btn btn-danger" (click)="deleteRecord(item.id)"><i
                                    class="fa fa-trash text-light"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-footer></app-footer>