<app-navbar></app-navbar>

<app-hero title="Admin - Home"></app-hero>

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <h5 class="bg-primary text-center p-2 text-light">Brand <a routerLink="/admin/brand/create"><i
                        class="fa fa-plus text-light float-end"></i></a></h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Pic</th>
                        <th>Active</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <a href="{{apiUrl}}{{item.pic}}" target="_blank">
                                <img src="{{apiUrl}}{{item.pic}}" height="50px" width="80px" alt="">
                            </a>
                        </td>
                        <td [ngClass]="item.active?'text-success':'text-danger'">{{item.active?"Yes":"No"}}</td>
                        <td><a [routerLink]="['/admin/brand/update']" [queryParams]="{id:item.id}"
                                class="btn btn-primary"><i class="fa fa-edit text-light"></i></a></td>
                        <td><button class="btn btn-danger" (click)="deleteRecord(item.id)"><i
                                    class="fa fa-trash text-light"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-footer></app-footer>